<html xmlns:visibility="http://www.w3.org/1999/xhtml">

<head>

    <% include ./partials/head %>

</head>

<body>

    <h1>Testing the thing to see if it works</h1>

    <div>Spoilers: Only the Tyranids have anything in them right now. So probably use those.</div>

    <!--
    <select id="userList">
        <%# lists.forEach(function(list) {%>
            <option><%# list.listname %></option>
        <%# }) %>
    </select>
    -->

    <div>Please select the list you would like to edit: </div>
    <select id="list" onchange="listSelected()">
        <option>Select</option>
        <% lists.forEach(function(lists) {%>
            <option value="<%= lists.listname %>"><%= lists.listname %></option>
        <%})%>
    </select>

    <div id="side">
    </div>

    <div id="faction">
    </div>

    <div id="subFaction">
    </div>

    <div id="unitList">
    </div>

    <div id="armyList"></div>

    <script>

        function listSelected() {

            // why does army.value work here? I haven't told it what army is. Surely this is the work of an enemy stand?
             //console.log(army.value)

            //Weird. Can't have an EJS file with "TheInquisition" in the name. Just defaults to being a regular file.
            var list = document.getElementById("list");
            console.log(list.value);
            var $side = $('#side');

            //var army = document.getElementById("army");
           // console.log(army.value);

            $side.load('/side');

            /*
            if (army.value === "Imperium") {
                 $faction.load('/factionImperium');
            } else if (army.value === "Chaos") {
                 $faction.load('/factionChaos');
            } else if (army.value === "Xenos") {
                $faction.load('/factionXenos');
            }
            */
        }

    </script>

</body>

</html>