<div id="databaseList" >
    <button id="side" onclick="testFunction()">Side</button>

    <button id="faction" onclick="secondTestFunction()">Faction</button>

    <button id="subfaction" onclick="thirdTestFunction()">Sub Faction</button>

    <button id="unit" onclick="fourthTestFunction()">Unit</button>
</div>

<script>

    function testFunction() {
        console.log("You are altering the side database")
    }

    function secondTestFunction() {
        console.log("You are altering the faction database")
    }

    function thirdTestFunction() {
        console.log("You are altering the sub faction database")
    }

    function fourthTestFunction() {
        console.log("You are altering the unit database")
    }

</script>