<select id="factionSelect" onchange="factionSelected()">
    <option>Please Select Your Faction</option>
    <% factions.forEach(function(faction) {%>
    <% if (faction.army === "Chaos") { %>
    <option value=<%= faction.id %>><%= faction.name %></option>
    <% } %>
    <%})%>
</select>

<script>

    function factionSelected() {

        var $subfaction = $('#subfaction');

        var faction = document.getElementById("factionSelect");

        if (faction.value === "hereticAstartes") {
            $subfaction.load('subFactionHereticAstartes')
        } else if (faction.value === "daemons") {
            $subfaction.load('subFactionDaemons')
        } else if (faction.value === "questorTraitoris") {
            $subfaction.load('subFactionQuestorTraitoris')
        } else if (faction.value === "chaosBastions") {
            $subfaction.load('subFactionChaosBastions')
        }
    }
</script>