<select id="subFactionSelect" onchange="subFactionSelected()">
    <option>Please Select Your Sub Faction</option>
    <% subfactions.forEach(function(subfaction) {%>
    <% if (subfaction.faction === "Astra Militarum") { %>
    <option value=<%= subfaction.id %>><%= subfaction.name %></option>
    <% } %>
    <%})%>
</select>