<select id="subFactionSelect" onchange="subFactionSelected()">
    <option>Please Select Your Sub Faction</option>
    <% subfactions.forEach(function(subfaction) {%>
    <option value="<%= subfaction.id %>"><%= subfaction.name %></option>
    <%})%>
</select>



<script>

    function subFactionSelected() {

        //Creating this var with both javascript and jquery, because I can't get jquery to interact with the hidden attribute.

        var $unitList = $('#unitList');
        var subFaction = document.getElementById("subFactionSelect");
        console.log(subFaction.value);
        $unitList.load('/unit/'+ subFaction.value);
        }
</script>