<table id="armyList">
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Points</th>
    </tr>
    <% unitLists.forEach(function(unitList) {%>
    <tr id = "<%= unitList.id %>" >
        <td><%= unitList.unitid %></td>
        <td><%= unitList.listid %></td>
    </tr>
    <% }) %>
</table>