<select id="unitListSelect" onchange="unitSelected()">
    <option>Please Select A Unit</option>
    <% units.forEach(function(unit) {%>
    <option value="<%= unit.id %>"><%= unit.name + " (" + unit.points + ")" %></option>
    <% }) %>
</select>

<script>

    function unitSelected() {
        var $unitList = $('#unitList');

        var unit = document.getElementById("unitListSelect");

        console.log(unit);


    }

</script>
