<select id="unitSelect">
    <option>Please Select A Unit</option>
        <% units.forEach(function(unit) {%>
            <option value="<%= unit.id %>"><%= unit.name + " (" + unit.points + ")" %></option>
    <% }) %>
</select>
<button id="commit" onclick="unitSelected()">Add</button>

<script>

    function unitSelected() {

        var list = document.getElementById("list").value;
        var side = document.getElementById("sideSelect").value;
        var faction = document.getElementById("factionSelect").value;
        var unit = document.getElementById("unitSelect").value;
        console.log(list+" "+side+" "+faction+" "+unit);

        $.ajax({
            url:'/listUnit/create',
            method:'POST',
            data:{listid:list,unitid:unit},
            datatype:'HTML',
            success:function(result){

            },
            error:function(err){
                console.log('error:'+JSON.stringify(err));
            }

        })

    }

</script>
