<select id="unitList">
    <option>Please Select A Unit</option>
    <% units.forEach(function(unit) {%>
    <option value="<%= unit.id %>"><%= unit.name + " (" + unit.points + ")" %></option>
    <% }) %>
</select>

<button id="buttonTest">Testing</button>
<!-- if I put a script tag on this page at all, it stops populating the unitList select -->
gggg
<script>

</script>
