<select id="unitList">
    <option>Please Select A Unit</option>
    <% units.forEach(function(unit) {%>
    <option value="<%= unit.id %>"><%= unit.name + " (" + unit.points + ")" %></option>
    <% }) %>
</select>

<script>

</script>
